<settings>
	<servers>
        <server>
            <id>codeartifact</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>codeartifact</id>
                    <url>https://thecomein-091340909384.d.codeartifact.ap-southeast-1.amazonaws.com/maven/comein-spring/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
    <mirrors>
  <mirror>
    <id>codeartifact</id>
    <name>thecomein-comein-spring</name>
    <url>https://thecomein-091340909384.d.codeartifact.ap-southeast-1.amazonaws.com/maven/comein-spring/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
  </mirrors>
</settings>